<!-- <p-menubar> -->
<p-button type="button" (click)="goBack()">👈 Back</p-button>
<!-- </p-menubar> -->

<div class="flx-container">
  <p-card class="flx-child" id="name">
    <div id="city-name" class="center">
      {{ city.name }}
      <br />
      <span class="coord">Lat: {{ city.coord.lat }}</span>
      <br />
      <span class="coord">Lon: {{ city.coord.lon }}</span>
    </div>
    <br />
    <img
      src="http://openweathermap.org/img/wn/{{ city.weather[0].icon }}@2x.png"
      alt=""
      id="city-icon"
      class="center"
    />
  </p-card>
  <!-- <p-card class="flx-child" id="map"> -->
  <div class="flx-child map">
    <app-map [lat]="city.coord.lat" [lon]="city.coord.lon"></app-map>
  </div>
  <!-- </p-card> -->
  <p-card class="flx-child" id="stats">
    <div>
      <table class="stats-table" id="stats-table">
        <tr class="stats-table stats-table-row">
          <td class="stats-table stats-table-cell">
            <div class="stats-div-cell stats-name" id="temp-name">Temp:</div>
          </td>
          <td class="stats-table stats-table-cell">
            <div class="stats-div-cell" id="temp">{{ city.main.temp }}°C</div>
          </td>
        </tr>
        <tr class="stats-table stats-table-row">
          <td class="stats-table stats-table-cell">
            <div class="stats-div-cell stats-name" id="hum-name">Hum:</div>
          </td>
          <td class="stats-table stats-table-cell">
            <div class="stats-div-cell" id="hum">{{ city.main.humidity }}%</div>
          </td>
        </tr>
        <tr class="stats-table stats-table-row">
          <td class="stats-table stats-table-cell">
            <div class="stats-div-cell stats-name" id="wind-name">Wind:</div>
          </td>
          <td class="stats-table stats-table-cell">
            <div class="stats-div-cell" id="wind">{{ city.wind.speed }}m/s</div>
          </td>
        </tr>
      </table>
    </div>
  </p-card>
  <!-- <p-card class="flx-child" id="forecast">
    <app-forecast [city]="city" [oneCall]="oneCall"></app-forecast>
  </p-card>
  <p-card class="flx-child" id="forecast-graph">
    <app-frc-graph [city]="city" [oneCall]="oneCall"></app-frc-graph>
  </p-card> -->
  <div *ngIf="isFrcDisplayed; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <p-card class="flx-child" id="forecast">
      <app-forecast
        [city]="city"
        [oneCall]="oneCall"
        (click)="toggleGraph()"
      ></app-forecast> </p-card
  ></ng-template>
  <ng-template #elseBlock>
    <p-card class="flx-child" id="forecast-graph">
      <app-frc-graph
        [city]="city"
        [oneCall]="oneCall"
        (click)="toggleGraph()"
      ></app-frc-graph> </p-card
  ></ng-template>
</div>
