<p-button type="button" (click)="goBack()">👈 Back</p-button>

<table class="big-table" id="big-table">
  <tr class="big-table big-table-row">
    <td class="big-table">
      <div id="city-name">
        <div id="city-name-card">
          {{ city.name }} <br />
          <img
            src="http://openweathermap.org/img/wn/{{
              city.weather[0].icon
            }}@2x.png"
            alt=""
          />
        </div>
      </div>
    </td>
    <td class="big-table" id="map-cell">
      <div id="map-div">
        <app-map [lat]="city.coord.lat" [lon]="city.coord.lon"></app-map>
      </div>
    </td>
    <td class="big-table" id="city-stats">
      <div id="stats-table-div">
        <div id="stats-table-div-card">
          <table class="stats-table" id="stats-table">
            <tr class="stats-table stats-table-row">
              <td class="stats-table stats-table-cell">
                <div class="stats-div-cell stats-name" id="temp-name">
                  Temp:
                </div>
              </td>
              <td class="stats-table stats-table-cell">
                <div class="stats-div-cell" id="temp">
                  {{ city.main.temp }}°C
                </div>
              </td>
            </tr>
            <tr class="stats-table stats-table-row">
              <td class="stats-table stats-table-cell">
                <div class="stats-div-cell stats-name" id="hum-name">Hum:</div>
              </td>
              <td class="stats-table stats-table-cell">
                <div class="stats-div-cell" id="hum">
                  {{ city.main.humidity }}%
                </div>
              </td>
            </tr>
            <tr class="stats-table stats-table-row">
              <td class="stats-table stats-table-cell">
                <div class="stats-div-cell stats-name" id="wind-name">
                  Wind:
                </div>
              </td>
              <td class="stats-table stats-table-cell">
                <div class="stats-div-cell" id="wind">
                  {{ city.wind.speed }}m/s
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </td>
  </tr>
  <tr class="big-table big-table-row">
    <td class="big-table" id="forecast" colspan="3">
      <!-- <button (click)="toggleGraph()"> -->
      <!-- <h2>Forecast</h2> -->
      <br />
      <div *ngIf="!isGraphDisplayed" (click)="toggleGraph()">
        <app-forecast [city]="city" [oneCall]="oneCall"></app-forecast>
      </div>
      <div *ngIf="isGraphDisplayed" (click)="toggleGraph()">
        <app-frc-graph [city]="city" [oneCall]="oneCall"></app-frc-graph>
      </div>
      <!-- </button> -->
    </td>
  </tr>
</table>
