* {
  font-size: x-large;
}
//  FLEXBOX
.flx-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flx-child {
  margin: 30px;
  height: 250px;
}

// FLEXBOX ITEMS

.coord {
  font-size: 15px;
}

#city-icon {
  padding: 0%;
  width: auto;
  height: 80px;
  // position: relative;
  // bottom: 20px;
}

.map {
  width: 500px;
  height: 210px;
}

#city-name {
  height: fit-content;
  width: 100%;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  justify-content: center;
}

#forecast {
  width: 100%;
}

#forecast-graph {
  width: 100%;
}

/* stats table */
.stats-table {
  /* border: 2px solid grey; */
  border-collapse: collapse;
  margin-right: 10px;
  margin-left: auto;
  width: min-content;
}

#stats-table-div {
  padding: 20px;
  /* padding: 5px; */
  /* padding-left: 100px; */
  margin-left: auto;
  margin-right: 20px;
  width: fit-content;
  vertical-align: middle;
}

#stats-table-div-card {
  background-color: orange;
  border: 2px solid orange;
  border-radius: 25px;
  padding: 20px;
  height: 130px;
  vertical-align: middle;
  width: fit-content;
}

.stats-div-cell {
  padding: 10px;
}

.stats-name {
  font-weight: bold;
}
