<!-- div#frc-table-div>table.frc-table#frc-table>tr.frc-table.frc-table-row*5>td.frc-table.frc-table-cell*7>div.frc-div-cell -->
<!-- div.frc-flex-container>div.frc-flex-child*7>div.day-flex-child*5 -->
<div class="frc-flex-container">
  <div class="frc-flex-child" id="legenda">
    <div class="day-flex-child stats-name frc-day">Day:</div>
    <div class="day-flex-child stats-name frc-icon">Weather:</div>
    <div class="day-flex-child stats-name frc-temp">Temp:</div>
    <div class="day-flex-child stats-name frc-hum">Hum:</div>
    <div class="day-flex-child stats-name frc-wind">Wind:</div>
  </div>
  <div class="frc-flex-child" *ngFor="let day of forecastDays; index as i">
    <div class="day-flex-child frc-day">{{ day }}</div>

    <div class="day-flex-child frc-icon">
      <!-- {{ oneCall.daily[i + 1].weather[0].main }} -->
      <img
        src="http://openweathermap.org/img/wn/{{
          oneCall.daily[i + 1].weather[0].icon
        }}@2x.png"
        alt=""
        style="float: right; width: 30px"
      />{{ oneCall.daily[i + 1].weather[0].main }}
    </div>
    <div class="day-flex-child frc-temp">
      {{ oneCall.daily[i + 1].temp.day }}°C
    </div>
    <div class="day-flex-child frc-hum">
      {{ oneCall.daily[i + 1].humidity }}%
    </div>
    <div class="day-flex-child frc-wind">
      {{ oneCall.daily[i + 1].wind_speed }} m/s
    </div>
  </div>
</div>
