/* forecast flexbox */

.frc-flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  // background-color: orange;
  // border: 2px solid orange;
  border-radius: 25px;
  padding: 20px;
}

.frc-flex-child {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#legenda {
  text-align: right;
}

.stats-name {
  font-weight: bold;
}
