<div class="center">
  <p-card>
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" id="float-input" pInputText [(ngModel)]="searchTerm" />
      <label for="float-input">Search city</label>
    </span>
    <p-button
      type="button"
      (click)="searchCity()"
      icon="pi pi-search"
      class="p-button-rounded"
    ></p-button>
  </p-card>
</div>
<!-- 
<div class="center">
  <p-card>
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        #searchBox
        type="text"
        id="float-input"
        pInputText
        (input)="search(searchBox.value)"
      />
      <label for="float-input">Search city</label>
    </span>
    <p-button
      type="button"
      (click)="searchCity()"
      icon="pi pi-search"
      class="p-button-rounded"
    ></p-button>
  </p-card>
</div> -->

<br /><br /><br />
<!-- SEARCH RESULT -->
<div class="center">
  <p-card>
    <!-- <a
      routerLink="/detail/{{ city.name | lowercase }}"
      id="button-city-preview"
    > -->
    <app-city-preview
      [city]="city"
      [oneCall]="oneCall"
      [currentDate]="currentDate"
      routerLink="/detail/{{ city.id }}"
    ></app-city-preview>
    <!-- </a> -->
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-heart"
      class="p-button-rounded p-button-help center"
      (click)="this.cityStorageService.addBookmark(city.name, city.id)"
    ></button>
  </p-card>
</div>
<br />
<!-- BOOKMARKS -->
<div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap">
  <div
    class="center"
    *ngFor="let i of this.cityStorageService.getBookmarks()"
    style="padding: 10px"
  >
    <p-card>
      <div routerLink="/detail/{{ i.id }}" style="font-size: x-large">
        {{ i.name }}
      </div>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-danger center"
        (click)="this.cityStorageService.removeBookmark(i.id)"
      ></button>
    </p-card>
  </div>
</div>
