/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #eeeeee;
}

.center {
  margin: 0 auto;
  width: fit-content;
}
// @import "~primeicons/primeicons.css";
// @import "~primeng/resources/themes/nova-light/theme.css";
// @import "~primeng/resources/primeng.min.css";
