<!-- <div class="card">
  <div class="flexbox-container">
    <div>{{ city.name }}</div>
    <div class="flexbox-container">
       //<div *ngFor="let day of days">Here put 4-day forecast</div> 
    </div>
  </div>
</div>

<p>{{ city.name }}</p>
<p>{{ city.coord.lon }}</p> -->
<!-- 
<div class="card">
  <table id="big-table" class="big-table">
    <tr class="big-table">
      <td class="big-table big-table-cell" id="city-name-table">
        <table class="little-table" id="little-table">
          <tr class="little-table">
            <td class="little-table little-table-cell" id="city-name">
              {{ city.name }}
            </td>
            <td class="little-table little-table-cell" id="city-temp">
              
              <img
                src="http://openweathermap.org/img/wn/{{
                  city.weather[0].icon
                }}@2x.png"
                alt=""
              />
            </td>
          </tr>
        </table>
      </td>
      <td class="big-table big-table-cell" id="city-forecast">
        <div class="forecast-flex-container">
          <div class="forecast-flex-child">
            Day:
            <br />
            Temp:
          </div>
          <div class="forecast-flex-child">
            {{ currentDate.getMonth() }}/{{ currentDate.getDate() + 1 }}
            <br />
            {{ oneCall.daily[0].temp.day }}°C
          </div>
          <div class="forecast-flex-child">
            {{ currentDate.getMonth() }}/{{ currentDate.getDate() + 2 }}
            <br />

            {{ oneCall.daily[1].temp.day }}°C
          </div>
          <div class="forecast-flex-child">
            {{ currentDate.getMonth() }}/{{ currentDate.getDate() + 3 }}
            <br />

            {{ oneCall.daily[2].temp.day }}°C
          </div>
          <div class="forecast-flex-child">
            {{ currentDate.getMonth() }}/{{ currentDate.getDate() + 4 }}
            <br />

            {{ oneCall.daily[3].temp.day }}°C
          </div>
        </div>
      </td>
    </tr>
  </table>
</div> -->

<p-splitter id="big-table" layout="vertical">
  <ng-template pTemplate>
    <!-- <p-splitter id="big-table" layout="horizontal">
      <ng-template pTemplate> -->
    <span id="city-name" class="center">{{ city.name }}</span>
    <!-- </ng-template>
  <ng-template pTemplate> -->
    <img
      src="http://openweathermap.org/img/wn/{{ city.weather[0].icon }}@2x.png"
      alt=""
      id="city-icon"
      class="center"
    />
    <!-- </ng-template>
    </p-splitter> -->
  </ng-template>
  <ng-template pTemplate>
    <div class="forecast-flex-container">
      <div class="forecast-flex-child">
        Day:
        <br />
        Temp:
      </div>
      <div class="forecast-flex-child">
        {{ currentDate.getMonth() }}/{{ currentDate.getDate() + 1 }}
        <br />
        {{ oneCall.daily[0].temp.day }}°C
      </div>
      <div class="forecast-flex-child">
        {{ currentDate.getMonth() }}/{{ currentDate.getDate() + 2 }}
        <br />

        {{ oneCall.daily[1].temp.day }}°C
      </div>
      <div class="forecast-flex-child">
        {{ currentDate.getMonth() }}/{{ currentDate.getDate() + 3 }}
        <br />

        {{ oneCall.daily[2].temp.day }}°C
      </div>
      <div class="forecast-flex-child">
        {{ currentDate.getMonth() }}/{{ currentDate.getDate() + 4 }}
        <br />

        {{ oneCall.daily[3].temp.day }}°C
      </div>
    </div>
  </ng-template>
</p-splitter>
