* {
  font-size: x-large;
}

#big-table {
  width: 100%;
}

#city-name {
  height: fit-content;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  justify-content: center;
}

#city-icon {
  text-align: center;
  height: 120px;
  width: 120px;
}

.forecast-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: 10px;
}

.forecast-flex-child {
  padding: 10px;
  text-align: center;
  font-size: large;
}
